/*****************************
    Colors::::

    #00072d     Oxford Blue
    #78C0E0     Dark Sky Blue
    #59656F     Black Coral
    #C2F8CB     Tea Green
    #F0F0C9     Light Goldenrod Yellow
    #D74E09     Flame Red
    #59A5D8     Carolina Blue
    #0E79B2     Star Command Blue
    #3C787E     Ming gray green
    #BBCBCB     Silver Sand
    #030301     Rich Black FOGRA 39
    #171D1C     Dark Jungle green
    #30323D     Jet dark gray
    #031A6B     Midnight Blue
    #1B2432     Gunmetal
    #2C2B3C     Raisin Black 
    #EFE7DA     Linen (whiteish)
    #090C02     Black Chocolate
    #A72608     Rufous (sharp red)
    #EEE5BF     Lemon Meringue (light yellow)

******************************/


/* Tab Menu CSSing */

.menu-tab  a{
    margin: 5px 10px;
    padding: 10px 10px 15px 10px;
    background: black;
    color: #EFE7DA;
    text-decoration: none;
    border-radius: 5px;
    white-space: nowrap;
}

li > .skll-but {
  padding: 10px 10px 30px 10px;
}

ol > li {
    list-style: disc;
}


