/****************************************************************
    Colors::::

    #00072d     Oxford Blue
    #78C0E0     Dark Sky Blue
    #59656F     Black Coral
    #C2F8CB     Tea Green
    #F0F0C9		Light Goldenrod Yellow
    #D74E09		Flame Red
    #59A5D8		Carolina Blue
    #0E79B2		Star Command Blue
	#3C787E		Ming gray green
	#BBCBCB		Silver Sand
	#030301		Rich Black FOGRA 39
	#171D1C		Dark Jungle green
	#30323D		Jet dark gray
	#031A6B		Midnight Blue
	#1B2432		Gunmetal
	#2C2B3C		Raisin Black 
    #EFE7DA     Linen (whiteish)
    #090C02     Black Chocolate
    #A72608     Rufous (sharp red)
    #EEE5BF     Lemon Meringue (light yellow)

*******************************************************************/


/*
 *  Global Elements CSSing
 *****************************/
html{
    background: #1B2432;
    color: #EFE7DA;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
}

header {
    display: grid;
    grid-auto-flow: row;
    gap: 1px;
    align-items: center;
    justify-items: center;
    text-align: center;
}

header > a + h2 {
    white-space: nowrap;
}

ul {
    display: grid;
    grid-auto-flow: column;
    gap: 5px;
    align-items: center;
    justify-items: center;
    margin: 0;
    padding: 20px;
    background: #3A3335;
}

nav > ul > li {
    list-style: none;
}

section a {
    color: lightblue;
    background-color: #090C02;
    padding: 2px;
    border-radius: 3px;
}

/* Header CSSing */

.title-name {
    text-decoration: none;
    color: #EFE7DA;
    font-size: 6em;
    font-weight: 800;
}

/* Tab Menu CSSing */

.menu-tab  a{
    margin: 5px 10px;
    padding: 10px 10px 15px 10px;
    background: black;
    color: #EFE7DA;
    text-decoration: none;
    border-radius: 5px;
    white-space: nowrap;
}

li > .home-but {
    padding: 10px 10px 30px 10px;
}

/* Body CSSing */

.section-border {
    margin: 5px 0;
    padding: 0;
    border: 10px solid black;
}

.section-wrapper {
    width: 95%;
    margin: 0 10px;
    padding: 0 0 25% 0;
}

/* Contents CSSing */

#image-lwinoo {
    float: left;
    margin: 0px 10px;
}

section > p {
    width: 75%;
}

/* Footer CSSing */

footer {
    text-align: center;
    font-size: 15px;
}
