html{
	background-color: white;
	font-family: sans-serif;
}

body{
	min-width: 300px;
	max-width: 1300px;
	margin: 0 auto;
	padding: 1em;
	background-color: gray;
}

.menu_row {
	display: flex;
	flex-flow: row wrap;
}