/*
    Colors::::

    #00072d     Oxford Blue
    #78C0E0     Dark Sky Blue
    #59656F     Black Coral
    #C2F8CB     Tea Green
    #F0F0C9		Light Goldenrod Yellow
    #D74E09		Flame Red
    #59A5D8		Carolina Blue
    #0E79B2		Star Command Blue
	#3C787E		Ming gray green
	#BBCBCB		Silver Sand
	#030301		Rich Black FOGRA 39
	#171D1C		Dark Jungle green
	#30323D		Jet dark gray
	#031A6B		Midnight Blue
	#1B2432		Gunmetal
	#2C2B3C		Raisin Black 
    #EFE7DA     Linen (whiteish)
    #090C02     Black Chocolate
    #A72608     Rufous (sharp red)
    #EEE5BF     Lemon Meringue (light yellow)

******************************/

  li {
    list-style: disc;
  }

 /**
  * 
  * Section CSSing
  * ***************************/

  .home-but, .abme-but,
  .skll-but, .proj-but,
  .cont-but {
    margin: 1px 20px;
    padding: 10px 10px 22px 10px;
    list-style: none;
    text-decoration: none;
    background: #090C02;
    color: #EFE7DA;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
  }

  .skll-but {
    padding: 10px 10px 28px 10px ;
  }
/*
  .empty-space {
    margin: 35% 0px;
  }*/


  /**
   * 
   * Footer CSSing
   * ***************************/
   .ftr-posit {
    text-align: center;
   }
